%end {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $main-color;
  font-size: 22px;
  font-weight: 500;
  color: $main-color;
}

%num {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $main-color;
  font-size: 22px;
  font-weight: 500;
  color: $main-color;
}

%effect {
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    background-color: $main-color;
    color: white;
  }
}
