@import "_reset";
@import "_variables";
@import "_boxes";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.outer-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.column {
  flex-grow: 1;
  width: 600px;
  border-right: 1px solid $main-color;
  display: flex;
  flex-direction: column;
  &:first-child {
    .box {
      @extend %effect;
    }
  }
  &:nth-child(2) {
    .box {
      @extend %effect;
      width: 600px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .box-end {
      span {
        width: auto;
        z-index: -2;
        animation: scrollText 5s linear 1s infinite forwards;
      }
    }
  }
  &:last-child {
    .box {
      @extend %effect;
    }
    .box-end:first-child {
      @extend %effect;
    }
  }
  .box-end {
    @extend %end;
  }
  .box {
    flex-grow: 1;
    @extend %num;
  }
}

@keyframes scrollText {
  from {
    margin-right: 200%;
  }
  to {
    margin-left: 200%;
  }
}
